torch  # tested with 2.1.1
datasets
transformers==4.39.3
accelerate==0.33.0
hydra-core
wandb
deepspeed
flash-attn
torch_tb_profiler

# for eval_zero_shot_task
evaluate
sacrebleu
scikit-learn
peft
sqlitedict==2.1.0
pytablewriter==1.2.0
